In [ ]:
#1

In [ ]:
def AoC (r):
    pi = 3.141592653589793
    a = pi * r * r
    return a
r=float(input("Enter the radius of circle : "))
a = AoC(r)
print(f'Area of the circle is {a}')

Enter the radius of circle : 3
Area of the circle is 28.274333882308138

In [ ]:
#2

In [ ]:
Name =input('Enter the name: ')
Roll_No=int(input('Enter the roll number: '))
Mark=int(input('Enter the mark: '))
print(f"Name:{Name}\nRoll No: {Roll_No}\nMark: {Mark}")

Enter the name: Anisha
Enter the roll number: 21
Enter the mark: 78
Name:Anisha
Roll No: 21
Mark: 78

In [ ]:
#3

In [ ]:
s=int(input('Enter the size of list : '))
d=[]
su=0
def Largest(num):
     Largest = num[0]
     for n in num:
        if n > Largest:
            Largest = n
     return Largest
for i in range(s):
  num=int(input())
  d.append(num)
print(d)
l=Largest(d)
print(f'{l} is the largest number')

Enter the size of list : 4
12
3
47
10
[12, 3, 47, 10]
47 is the largest number

In [ ]:
#4

In [ ]:
def S(f,l):
    x = f -1
    for y in range(f, l +1):
        S = x+y
        print(f"Current Number {y} Previous Number {x} Sum: {S}")
        x=y
F=int(input('First number= '))
L=int(input('Last number= '))
S(F,L)

First number= 1
Last number= 10
Current Number 1 Previous Number 0 Sum: 1
Current Number 2 Previous Number 1 Sum: 3
Current Number 3 Previous Number 2 Sum: 5
Current Number 4 Previous Number 3 Sum: 7
Current Number 5 Previous Number 4 Sum: 9
Current Number 6 Previous Number 5 Sum: 11
Current Number 7 Previous Number 6 Sum: 13
Current Number 8 Previous Number 7 Sum: 15
Current Number 9 Previous Number 8 Sum: 17
Current Number 10 Previous Number 9 Sum: 19

In [ ]:
#5

In [ ]:
def main():
    input_str = input("Enter the numbers: ")
    num_str_list = input_str.split()
    numbers = [int(num_str) for num_str in num_str_list]
    divisible_by_5 = []
    for num in numbers:
        if num % 5 == 0:
            divisible_by_5.append(num)
    print("Numbers divisible by 5:", divisible_by_5)
if __name__ == "__main__":
    main()

Enter the numbers: 6 20 35 54 22 25
Numbers divisible by 5: [20, 35, 25]

In [ ]:
#6

In [4]:
prime=int(input('Enter a number : '))
def prm(p):
 for i in range(2,p):
   if(p%i==0):
    return print(f'{p} is not a prime')
    break
 else:
  return print(f'{p} is a prime')
prm(prime)

Enter a number : 57
57 is not a prime

In [5]:
#7

In [ ]:
def rev(list1):
    rlist = []
    l=len(l1)
    for i in range(l-1,-1, -1):
        rlist.append(list1[i])
    return rlist
s=int(input('What is the size of list '))
l1=[]
su=0
for i in range(s):
  num=int(input('Number= '))
  l1.append(num)
l2 = rev(list1)
print("Original List:", l1)
print("Reversed List:", l2)

In [ ]:
#8

In [6]:
def pattern(row):
    for i in range(1, row + 1):
        for j in range(1, i + 1):
            print('*', end='')
        print('\n')
pattern(4)

*

**

***

****

In [ ]:
#9

In [1]:
def maximum(num1, num2, num3):
    result = max(num1, num2, num3)
    return result
n1=int(input('Enter first number '))
n2=int(input('Enter second number '))
n3=int(input('Enter third number '))
m = maximum(n1, n2, n3)
print("Maximum number is:", m)

Enter first number 5
Enter second number 7
Enter third number 6
Maximum number is: 7

In [ ]:
#10

In [3]:
def P(row):
    for i in range(1, row + 1):
        for j in range(1, i + 1):
            print('*', end='')
        print('\n')
    for i in range(row - 1, 0, -1):
        for j in range(1, i + 1):
            print('*', end='')
        print('\n')
P(5)

*

**

***

****

*****

****

***

**

*